@import '../../../styles/settings.scss';

.component {
  margin: 1.5 * $base-size 0;
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 15px;
  text-align: left;
}
.textBox {
  margin-top: 0.7 * $base-size;
  display:block;
  font-family: inherit;
  font-size: 15px;
  color: $color-text;
  width: 100%;
  border: 1px solid $color-ligth-grey;
  border-radius: 2px;
  padding: 7px;

  &:focus {
    border: 1px solid $color-focus;
    outline: none;
    box-shadow: 0 0 8px $color-focus;
  }
}

.error {
  margin-top: 0.4 * $base-size;
  color: $color-error;
  font-size: 12px;
}