@import '../../../styles/settings.scss';

.root {
  margin-top: 5 * $base-size;
 }

.bookBox {
  width: 100%;
  position: relative;
  .bookImage {
    height: 40vw;
    border: 1px solid $color-dark;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      @extend %transition-params;
    }
    .hidden {
      opacity: 0;
    }
    .visible {
      opacity: 1;
    }
    @media (min-width: 768px) {    
      height: 28vw;    
    }
  }
  .addButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    max-width: 350px;
    min-width: 200px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: $color-sub-background;
    background: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    @extend %transition-params;
  }

  &:hover img {
    transform: scale(120%);
  }
  &:hover .bookImage {
    border: 2px solid rgb(212, 212, 212);
  }
  &:hover .addButton {
    visibility: visible;
    opacity: 1;
  }
 }
 
 .bookAuthor {
   font-size: smaller;
   font-style: italic;
 }
 .bookPages {
  text-align: center;
 }
 .bookTitle {
   padding: $base-size 0 0 0;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: .15rem;
 }
 
