@import '../../../styles/settings.scss';

.root {
  position: relative;
  margin-bottom: 4 * $base-size;
  &::after {   
     position: absolute;
     bottom: - 2 * $base-size;
     width: 100%;
     content: '';
     border-top: 1px solid black;
     // margin-bottom: 2 * $base-size;
   }
 } 
 
 .productImage {
  position: relative;
  border: 1px solid $color-dark;
  width: 100%;
  max-width: 100px;
  height: 16vw;
  min-height: 122px;
  max-height: 160px;  
  overflow: hidden;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
    
}
.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2 * $base-size;
  height: 100%;

  .productTitle {
    font-size: $font-base-size;
    text-transform: uppercase;
    letter-spacing: $font-spacing;
  }
  .productPrice {
    font-size: $font-base-size * 1.3;
    color: $color-light;
    padding-bottom: $base-size;
  }
  p {
    margin-bottom: 0.6em;
  }
}
.itemNb {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}