$color-main-background: #EFEFEF;
$color-sub-background: #FFFFFF;
$color-dark: black;
$color-light: rgb(134, 134, 134);
$color-focus: #52A8EC;
$color-ligth-grey: #afb1b9;
$color-error: rgb(204, 66, 66);
$color-text: #424349;

$base-size: 11px;
$thumb-width: 100px;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
$font-spacing: 0.2rem;
$font-base-size: $base-size * 1.3;

$radius: 5px;

%transition-params {
  transition: background-color 0.25s,
    border-color 0.25s,
    color 0.25s,
    transform 0.25s,
    opacity 0.25s;
}


